.container {
    position: relative;
    height: 500px;
    border: 1px solid black;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: #259e1e;
    transition: background-color 0.5s ease-in-out, width 1s linear, height 2s ease-out;
   
  }
  
  .box:hover {
    background-color: #007bff;
    width: 150px;
    height: 150px;
  }
  